# Delphi files
*.dcu
*.~*
*.ddp
*.dsk
*.cfg
*.bak
*.dof
*.dsm
*.dproj
*.dproj.local
*.identcache
*.tvsconfig
*.stat
*.drc
*.bpl
*.bpi
*.dcp
*.dres
*.map
*.hpp
*.obj
*.exe
*.dll
*.ocx
*.tds
*.res
*.dfm
*.pas
*.dpr
*.dpk
*.bdsproj
*.local
*.log
__history/
__recovery/
Win32/
Win64/